/* .movieTitle{
    font-weight: bolder;
    font-size: large;
}

.movieCard{
    border: 2px solid black;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: black;
    color: white;
    


}

.movieImg{
    border: 1px solid white;
}
.card{
    width: 500px;
} */
